@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.w-9\/20 {
  width: 45%;
}

.hover\:bg-neutral-100:hover {
  background-color: #f5f5f5;
}

.hover\:bg-neutral-100:hover:has(footer:hover) {
  background-color: transparent;
}

.hover\:bg-slate-100:hover {
  background-color: black;
}

.hover\:text-accent-foreground {
}
