@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.md\:gap-20 {
  gap: 5px;
}

label.input:has(input[type="search"]) {
  width: 200px;
}

.hover\:bg-neutral-100:hover {
  background-color: #f5f5f5;
}

.hover\:bg-neutral-100:hover:has(footer:hover) {
  background-color: transparent;
}

.hover\:bg-slate-100:hover {
  background-color: black;
}

article.cardDesign {
  position: relative;
}

article.cardDesign * {
  position: relative;
  z-index: 1;
}

article.cardDesign .fillArea {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}

.mainCheckpoint {
  background-image: url(./assets/logo/roomate-pantry-transparent.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  height: 60vh;
}

a.mainCheckpoint {
}

a.mainCheckpoint p {
  font-size: 3em;
  margin-left: auto;
  margin-right: 2em;
  color: oklch(37.2% 0.044 257.287);
}

@media screen and (min-width: 1024px) {
  .w-9\/20 {
    width: 45%;
  }
  .md\:gap-20 {
    gap: 20px;
  }
}
