@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.md\:gap-20 {
  gap: 5px;
}

label.input:has(input[type="search"]) {
  width: 200px;
}

.hover\:bg-neutral-100:hover {
  background-color: #f5f5f5;
}

.hover\:bg-neutral-100:hover:has(footer:hover) {
  background-color: transparent;
}

.hover\:bg-slate-100:hover {
  background-color: black;
}

@media screen and (min-width: 1024px) {
  .w-9\/20 {
    width: 45%;
  }
  .md\:gap-20 {
    gap: 20px;
  }
}
